<%-include("../partials/header.ejs")%>

      
    <body data-spy="scroll" data-target=".navbar" data-offset="90">

        <!-- START LOADER -->
        <div class="loader-bg">
            <div id="container">
                <svg viewBox="0 0 100 100">
                    <defs>
                        <filter id="shadow">
                            <feDropShadow dx="0" dy="0" stdDeviation="0.5"
                                          flood-color="#dabd1d"/>
                        </filter>
                    </defs>
                    <circle id="spinner" style="fill:transparent;stroke:#ed2d34;stroke-width: 8px;stroke-linecap: round;filter:url(#shadow);" cx="50" cy="50" r="45"/>
                </svg>
            </div>
        </div>

    <div class="wrap_container cursor-light">
        <div class="main_container">
            <div class="side_nav">
                <div class="my-sticky-nav">
                    <div class="side_menu">
                        <div id="my_tog" class="my_tog link" onmouseover="my_click();">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div>
                        </div>
                        <!-- Sticky Nav -->
                        <nav class="side-nav-menu">
                            <ul class="nav-menu nav-fill" id="menu">
                                <li class="nav-item">
                                    <a data-menuanchor="home-banner" class="nav-link link active line" href="/landing">Home </a>
                                </li>
                                <li class="nav-item">
                                    <a data-menuanchor="all-products" class="nav-link link line" href="/login">Employee Login</a>
                                </li>
                                <li class="nav-item">
                                    <a data-menuanchor="reviews" class="nav-link link line" href="/supplier/login">Supplier Login</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Nav-Bar -->
            <header id="home">
                <nav class="navbar navbar-light bg-light cursor-light d-md-none">
                    <div class="my_nav_tog d-block d-md-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </nav>
                <div class="broad">
                    <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                    <nav class="side-nav-menu">

                        <ul class="nav-menu nav-fill">
                            <li class="nav-item">
                                <a class="nav-link" href="/landing">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Employee Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/supplier/login">Supplier Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>
    <!-- END HEADER -->
    
    <div id="pagepiling">
    
    <!-- START BANNER -->
    <section class="section slide1 p-0" id="home-banner">
        <div class="slider-area" id="slider-area">
            <div class="bg-overlay bg-green opacity-8"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <h1 class="main-font font-weight-bold text-grey content1 wow" data-wow-delay=".4s">ALL<span class="d-block main-color">Market</span></h1>
                        <p class="alt-font text-grey my-3 content1 wow" data-wow-delay=".6s">A management system for managing the inventory of a supermarket and even storing the transactions happening in the market.</p>
                        <a  href="/login" style="text-decoration:none" class="btn btn-medium btn-rounded btn-trans text-capitalize mt-3 mb-5 mb-md-2 mr-3  content1 wow" data-wow-delay=".8s">EMPLOYEE LOGIN</a>
                        <a  href="/supplier/login" style="text-decoration:none" class="btn btn-medium btn-rounded btn-trans text-capitalize mt-3 mb-5 mb-md-2 content1 wow" data-wow-delay=".8s">SUPPLIER LOGIN</a>
    
                    </div>
                    <div class="col-12 col-md-6 section1right wow" data-wow-delay=".8s">
                        <div class="banner-image" data-depth="0.07">
                            <img src="/img/landing/banner-product.png" alt="Banner-Product">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Circle-One -->
            <div class="circle-one circle1fade wow" data-wow-delay=".2s">
                 <span data-tootik="Inventory" data-tootik-conf="top invert square shadow">
                    <a href="javascript:void(0);">
                        <span class="animated-circle position-relative"></span>
                    </a>
                 </span>
            </div>
            <!-- Circle-Two -->
            <div class="circle-two circle2fade wow" data-wow-delay=".4s">
                 <span data-tootik="Multiuser views" data-tootik-conf="bottom invert square shadow">
                    <a href="javascript:void(0);">
                        <span class="animated-circle position-relative"></span>
                    </a>
                 </span>
            </div>
            <!-- Circle-Three -->
            <div class="circle-three circle3fade wow" data-wow-delay=".6s">
                  <span data-tootik="Linking of two systems" data-tootik-conf="top invert square shadow">
                        <a href="javascript:void(0);">
                            <span class="animated-circle position-relative"></span>
                        </a>
                  </span>
            </div>
            <!-- Circle-Four -->
            <div class="circle-four circle4fade wow" data-wow-delay=".8s">
                  <span data-tootik="Storing transactions" data-tootik-conf="bottom invert square shadow">
                    <a href="javascript:void(0);">
                        <span class="animated-circle position-relative"></span>
                    </a>
                  </span>
            </div>
            <!-- Circle-Five -->
            <div class="circle-five circle5fade wow" data-wow-delay=".95s">
                  <span data-tootik="Database" data-tootik-conf="top invert square shadow">
                        <a href="javascript:void(0);">
                            <span class="animated-circle position-relative"></span>
                        </a>
                  </span>
            </div>
        </div>
    </section>
    
    <!-- END BANNER -->
    <%- include("../partials/footer.ejs") %>

  </body>
</html>
