<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/register" method="post">
      <input type="text" name="user[username]" placeholder="username">
      <input type="password" name="user[password]" placeholder="password">
      <button type="submit">register</button>
    </form>
  </body>
</html>
