<%-include("../partials/header.ejs")%>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

  <%-include("../partials/loader.ejs") %>

  <%-include("../partials/adminnav.ejs") %>


    
    <div id="pagepiling">
    
    
    <section class="section slide1 p-0" id="home-banner">
      <div class="slider-area" id="slider-area">
          <div class="bg-overlay bg-green opacity-8"></div>
    <div class="container">
      <h1 class="text-center my-4">ADD EMPLOYEE</h1>
      <hr>
      <form action="/admin/addemp/single" method="post">
      <div class="container">
        <div class="row">
          <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group col-md-6">
          <label for="mobileno">MobileNo</label>
          <input type="text" class="form-control" id="mobileno" name="mobileno">
        </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="gender">Gender</label>
              </div>
              <select class="custom-select" id="gender" name="gender">
                <option selected>Choose...</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="N">Prefer not to say</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="department">Department</label>
              </div>
              <select class="custom-select" id="department" name="dept">
                <option selected>Choose...</option>
                <!-- <option value="admin">Admin</option> -->
                <option value="billing">Billing</option>
                <option value="inventory">Inventory</option>
                <option value="managing">Managing</option>
                <option value="cleaning">Cleaning</option>
                <option value="helper">Helper</option>
                <option value="security">Security</option>
              </select>
            </div>
          
        </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" name="age">
          </div>
          <div class="form-group col-md-6">
            <label for="age">Salary</label>
            <input type="number" class="form-control" id="salary" name="salary" >
          </div>
        </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="address">address:</label>
          <input type="text" name="address" id="address" class="form-control" >
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-medium btn-rounded btn-trans text-capitalize mt-3 mb-5 mb-md-2 mr-3 content1 wow">Submit</button>
      </div>
    
      </div>
    
      </form>
      </div>
    </div>
    </section>
    
    <section class="section slide1 p-0" id="home-banner">
      <div class="slider-area" id="slider-area">
        <div class="container my-5">
          <h1 class="my-5 text-center">ADD EMPLOYEES THROUGH EXCEL SHEET</h1>
        <form action="/admin/addemp/multiple" method="post" enctype="multipart/form-data">
           <div class="form-group">
             <input type="file" id="file" class="form-control" name="excelfile">
            <label for="file">File Upload</label>
          </div>
          <div class="text-center"><button class="btn btn-medium btn-rounded btn-trans text-capitalize mt-3 mb-5 mb-md-2 mr-3 content1 wow">Submit</button></div>
        </form>
        </div>
          </div>
    </div>
    </section>

    </div>
    
  


</body>










<%- include("../partials/footer.ejs") %>
