<!-- Nav starts -->
<div class="wrap_container cursor-light">
    <div class="main_container">
        <div class="side_nav">
            <div class="my-sticky-nav">
                <div class="side_menu">
                    <div id="my_tog" class="my_tog link" onmouseover="my_click();">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div>
                    </div>
                    <!-- Sticky Nav -->
                    <nav class="side-nav-menu">
                        <ul class="nav-menu nav-fill" id="menu">
                            <li class="nav-item">
                                <a data-menuanchor="home-banner" class="nav-link link active line"  href="/admin">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a data-menuanchor="all-products" class="nav-link link line" href="/admin/">Transactions</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a data-menuanchor="reviews" class="nav-link link line" href="/admin/purchaseorder">Purchase  Details</a>
                            </li> -->
                            <li class="nav-item">
                              <a data-menuanchor="reviews" class="nav-link link line" href="/admin/empdetails">Employee Details</a>
                          </li>
                          <li class="nav-item">
                            <a data-menuanchor="reviews" class="nav-link link line" href="/manager/supdetails">Supplier Details</a> 
                        </li>
                        <li class="nav-item">
                          <a data-menuanchor="reviews" class="nav-link link line" href="/admin/customer">Customer Details</a>
                      </li>
                      <li class="nav-item">
                        <a data-menuanchor="reviews" class="nav-link link line" href="/manager/proddetails">Product Details</a>
                    </li>
                    <li class="nav-item">
                        <a data-menuanchor="reviews" class="nav-link link line" href="/logout">Logout</a>
                    </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Nav-Bar -->
        <header id="home">
            <nav class="navbar navbar-light bg-light cursor-light d-md-none">
                <div class="my_nav_tog d-block d-md-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
            <div class="broad">
                <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                <nav class="side-nav-menu">
  
                    <ul class="nav-menu nav-fill">
                      <li class="nav-item">
                        <a class="nav-link "  href="/landing">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/transactions">Transactions</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="/admin/purchaseorder">Purchase  Details</a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link " href="/admin/empdetails">Employee Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/manager/supdetails">Supplier Details</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/admin/customer">Customer Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manager/proddetails">Product Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout">Logout</a>
            </li>
                        
                    </ul>
                </nav>
            </div>
        </header>
    </div>
  </div>

<!--nav end-->