<!-- END BANNER -->
<script src="/js/landing/bundle.min.js"></script>
<script src="/js/landing/wow.js"></script>
<script src="/js/landing/jquery.pagepiping.min.js" ></script>
<script src="/js/landing/script.js"></script>

</body>
</html>
