<!-- START LOADER -->
<div class="loader-bg">
    <div id="container">
        <svg viewBox="0 0 100 100">
            <defs>
                <filter id="shadow">
                    <feDropShadow dx="0" dy="0" stdDeviation="0.5"
                                  flood-color="#dabd1d"/>
                </filter>
            </defs>
            <circle id="spinner" style="fill:transparent;stroke:#ed2d34;stroke-width: 8px;stroke-linecap: round;filter:url(#shadow);" cx="50" cy="50" r="45"/>
        </svg>
    </div>
</div>
<!-- END LOADER -->